# Environment variables
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Serialization/Model files
*.pkl
*.faiss

# Data files
*.parquet

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
